body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-image: linear-gradient(130deg, #39855c 5%, #1A3227 20%,#000000 70%);
    /* background-image: linear-gradient(90deg, #39855c 5%, #28744b 10%, #0a271a 25%,#000000 25%, #000000 100%); */
}

.navbar-brand img{
    width: 100px;
}

.nav-link{
    font-size: 16px;
    margin-right: 45px;
    font-weight: light;
    transition: 0.5s;
}

.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid white;
}

.navbar-toggle{
    border: none;
    outline: none!important;
}

.headline{
    position: relative;
    top: 100px;
    background-color: #000;
    height: 90vh;
}

.tagline{
    width: 85%;
    height: 100%;
    overflow: hidden;
    max-height: 90vh;
    color: white;
}

.tagline img{
    width: 100%;
    filter: brightness(50%);
    position: relative;
    z-index: 1;
    top: 0px;
}

.tagline h1{
    font-size: 60px;
    letter-spacing: 5px;
    font-weight: 400;
    position: absolute;
    top: 45vh;
    z-index: 2;
}

.tagline button{
    color: white;
    font-size: 15px;
    background-color: #42A575;
    position: absolute;
    z-index: 2;
    top: 65vh;
    width: 150px;
    height: 50px;
    border-radius: 25px;
}

.social{
    width: 15%;
    color: #42A575;
}

.social p{
    position: relative;
    top: 350px;
    writing-mode: vertical-lr;
    display: block;
    letter-spacing: 2px;
    transform: rotate(180deg);
    margin: 0 auto;
}

.social i{
    position: relative;
    top: 450px;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

/* IPAD PRO */
@media only screen and (max-width: 1024px){
    .headline{
        height: 660px;
        top: 10%;
    }
    .tagline h1{
        font-size: 40px;
        letter-spacing: normal;
        font-weight: 400;
        top: 20vh;
    }
    .tagline button{
        font-size: 12px;
        top: 30vh;
        width: 120px;
        height: 40px;
        border-radius: 25px;
    }
    .social p{
        top: 280px;
    }
    .social i{
        position: relative;
        top: 320px;
        text-align: center;
        margin: 0 auto;
        display: block;
        font-size: 24px;
        margin-bottom: 10px;
    }
}

/* ON TABLET */
@media only screen and (max-width: 769px){
    .headline{
        height: 500px;
        top: 10%;
    }
    .tagline h1{
        font-size: 24px;
        letter-spacing: normal;
        font-weight: 400;
        top: 20vh;
    }
    .nav-link:hover{
        font-weight: 600;
        border-bottom: none;
    }
    .social p{
        font-size: 12px;
        top: 200px
    }
    .social i{
        position: relative;
        top: 250px;
        text-align: center;
        margin: 0 auto;
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

/* ON THE PHONE */
@media only screen and (max-width: 600px){
    .navbar-nav{
        position: relative;
        right: -30px;
        text-align: right;
    }
    .navbar-brand img{
        width: 60px;
    }
    .nav-link{
        font-size: 12px;
    }
    .nav-link:hover{
        font-weight: 600;
        border-bottom: none;
    }

    .headline{
        height: 245px;
        top: 5%;
    }
    .tagline h1{
        font-size: 18px;
        letter-spacing: normal;
        font-weight: 400;
        top: 15vh;
    }
    .tagline img{
        top: 50px;
    }
    .tagline button{
        font-size: 10px;
        top: 22vh;
        width: 90px;
        height: 30px;
        border-radius: 25px;
    }

    .social p{
        top: 90px;
        font-size: 6px;
    }
    .social i{
        position: relative;
        top: 100px;
        text-align: center;
        margin: 0 auto;
        display: block;
        font-size: 10px;
        margin-bottom: 5px;
    }
}
